.container {
    max-width: 800px;
    height: 50vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: var(--clr4);
    /* Fondo del contenedor */
}

.us-title {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 70px;
    color: black;
}

.div-p-nosotros {
    margin-top: 20px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    color: black;
}