/* Not_Found.css */

.not-found-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 45px;
}

.not-found-image {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.not-found-title {
    position: absolute;
    top: 50%;
    /* Centra verticalmente en relación con el contenedor */
    left: 50%;
    /* Centra horizontalmente en relación con el contenedor */
    transform: translate(-50%, -50%);
    /* Centra perfectamente en el centro del contenedor */
    color: rgb(12, 16, 71);
    /* Cambia el color del texto según tus preferencias */
    font-size: 36px;
    /* Ajusta el tamaño de fuente según tus preferencias */
    text-align: center;
    /* Centra el texto horizontalmente */
    z-index: 1;
    /* Asegura que el título esté superpuesto en la imagen */
}